@model ForgettPasswordViewModel

@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/admin/img/dsi24.png" width="550" height="550"/>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Şifrenizi Değiştirebilirsiniz!</h1>
                            <label style="color:red">Lütfen sistemde kayıtlı olan bir kullanıcı adı giriniz!</label>
                        </div>
                        <form class="user" asp-controller="Account" asp-action="ForgetPassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Username" class="form-control form-control-user" id="floatingInput" placeholder="Kullanıcı adı..." id="exampleInputEmail" aria-describedby="emailHelp" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Password" class="form-control form-control-user" id="floatingInput" placeholder="Şifre..." id="exampleInputEmail" aria-describedby="emailHelp" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="RePassword" class="form-control form-control-user" id="floatingInput" placeholder="Şifre tekrar..." id="exampleInputEmail" aria-describedby="emailHelp" />
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block" title="Değiştir">
                                Değiştir
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            @* <a class="small" href="/Account/Login">Giriş Sayfasına Dön?</a> *@
                            <a class="small" href="/giris" title="Giriş Sayfasına Dön?">Giriş Sayfasına Dön?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>