@model User

@{
    ViewData["Title"] = "Kullanıcı Ekle";
}
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistryNo" class="control-label"></label>
                <input asp-for="RegistryNo" class="form-control" />
                <span asp-validation-for="RegistryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleId" class="control-label"></label>
                <select asp-for="TitleId" class="form-control" asp-items="ViewBag.TitleId"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartingWorkDate" class="control-label"></label>
                <input asp-for="StartingWorkDate" class="form-control" type="date" />
                <span asp-validation-for="StartingWorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-outline-success" title="Kaydet"><i class="fa-solid fa-floppy-disk"></i> Kaydet</button>
                <a href="/kullanicilar" class="btn btn-outline-secondary" title="İptal"><i class="fa-solid fa-ban"></i> İptal</a>
            </div>
        </div>
    </div>
</form>